body {
    font-family: 'Open Sans', sans-serif;
    color: #828282;
    text-align: center;
    margin: 0;
    
    
}

#box {
width: 626px;
margin: 0 auto 64px;
max-width: 540px;
text-align: center;
bottom: 64px;
}

#box img {
margin-top: 64px;
margin-bottom: 32px;
}

h1 {
    font-family: 'Dosis', sans-serif;
    color: #3F3D56;
    font-style: normal;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 16px;


}

h1 span {
    font-weight: bold;
    color: #EE24FF;
}

p {
    color: #828282;
    font-size: 15px;
    line-height: 22px;
    bottom: 32px;
    
}

strong {
    color: #3f3d56;
}

#footer {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    margin-top: 60px;
    color: #3F3D56; 
    
}

#footer a + a {
margin-left: 42px;
}

.line {
    border: 1px solid #eceff2;
    width: 391px;
    height: 0;
    margin: 0 auto 16px;
}

#Rodaperoxo {
position: fixed;
left: 0;
width: 100%;
bottom: 0;

}